<div class="container">

    <div class="row">
    
    <div class="col-sm">
    
    <a href="/activite" role="button" class="btn btn-outline-primary btn-lg btn-block te
    xt-center">
    
    <span><i class="fa fa-users"></i></span>
    
    <br>Activite
    
    </a>
    
    </div>
    <div class="col-sm">
    
        <a href="/personne" role="button" class="btn btn-outline-primary btn-lg btn-block te
        xt-center">
        
        <span><i class="fa fa-users"></i></span>
        
        <br>Personne
        
        </a>
        
        </div>
        <div class="col-sm">
    
            <a href="/parti" role="button" class="btn btn-outline-primary btn-lg btn-block te
            xt-center">
            
            <span><i class="fa fa-users"></i></span>
            
            <br>Parti
            
            </a>
            
            </div>
    <div class="col-sm">
    
    <a href="/candidat" role="button" class="btn btn-outline-primary btn-lg btn-block tex
    t-center">
    
    <span><i class="fa fa-users"></i></span>
    
    <br>candidat
    
    </a>
    
    </div>
    <div class="col-sm">

        <a href="/electeur" role="button" class="btn btn-outline-primary btn-lg btn-block t
        ext-center">
        
        <span><i class="fa fa-users"></i></span>
        
        <br>electeur
        
        </a>
        
        </div>
        
        <div class="col-sm">
        
        <a href="/election" role="button" class="btn btn-outline-primary btn-lg btn-block text-ce
        nter">
        
        <span><i class="fa fa-users"></i></span>
        
        <br>election
        
        </a>
        
        </div>
        <div class="col-sm">

            <a href="/formation" role="button" class="btn btn-outline-primary btn-lg btn-block text-ce
            nter">
            
            <span><i class="fa fa-users"></i></span>
            
            <br>formation
            
            </a>
            
            </div>
            
            <div class="col-sm">
            
            <a href="/justificatif" role="button" class="btn btn-outline-primary btn-lg btn-bloc
            k text-center">
            
            <span><i class="fa fa-users"></i></span>
            
            <br>justificatif
            
            </a>
            
            </div>

            <div class="col-sm">
            
                <a href="/liste-candid" role="button" class="btn btn-outline-primary btn-lg btn-bloc
                k text-center">
                
                <span><i class="fa fa-users"></i></span>
                
                <br>liste-candid
                
                </a>
                
                </div>
            
            </div>
            
            </div>